In [1]:
#Packages
import pandas as pd
import numpy as np

In [2]:
#Data
jsonfile = 'emails.json'
data = pd.read_json(jsonfile)

In [9]:
data.sample(5)

,CATEGORY,MESSAGE,FILE_NAME
5783,0,"On Wed, 07 Aug 2002 01:38:55 -0400 \n\nTom Lan...",00775.b349859dad830b699c93d3c8e14b3ab2
1217,1,"<!DOCTYPE HTML PUBLIC ""-//W3C//DTD HTML 4.0 Tr...",01144.94d2d4f5dfefab34c1370aec38d470eb
3575,0,"Date: Fri, 23 Aug 2002 10:58:20 -05...",00394.608684acea4bef2ae7f5b89309a6046e
1294,1,¤£¦n·N«ä¥´ÅÍ±z¡I¦pªG¥»¼s§i«H¹ï±z²£¥Í§xÂZ¡A¦b¦¹...,00706.5116018237368c3633823b2d24f8ac86
678,1,<html>\n\n<head>\n\n<title>FREIGHTMART Mail Ca...,00353.8d9f21930310041d8a0e17b0494e3a4a

In [14]:
#Count vectorizer
from sklearn.feature_extraction.text import CountVectorizer

vect     = CountVectorizer(stop_words = 'english')
features = vect.fit_transform(data.MESSAGE)

In [15]:
features.shape
#5796 ligne
#102694 Mots individuels

(5796, 102694)

In [56]:
#Division du dataset
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(features, data.CATEGORY, test_size = 0.3, random_state = 4)

In [57]:
#Training model
from sklearn.naive_bayes import MultinomialNB

model = MultinomialNB()
model_fit = model.fit(x_train, y_train)
pred = model.predict(x_test)

In [59]:
#Comparaison test vs predictions
results                = pd.DataFrame()
results['test']        = y_test
results['predictions'] = pred

In [60]:
results.sample(5)

      test  predictions
2538     0            0
3123     0            0
1503     1            1
644      1            1
2252     0            0

In [47]:
#Min squared error
from sklearn.metrics import mean_squared_error

MSE = np.sqrt(mean_squared_error(y_test,pred))
MSE

0.21978085169483685

In [37]:
#Matrice de confusion
from sklearn.metrics import confusion_matrix

mat = confusion_matrix(y_true = y_test, y_pred = pred)
mat

array([[1181,    4],
       [  80,  474]], dtype=int64)

In [43]:
#Score 
from sklearn.metrics import classification_report

target_names = ['Non_spam','SPAM']
print(classification_report(y_test, pred, target_names=target_names))

              precision    recall  f1-score   support

    Non_spam       0.94      1.00      0.97      1185
        SPAM       0.99      0.86      0.92       554

    accuracy                           0.95      1739
   macro avg       0.96      0.93      0.94      1739
weighted avg       0.95      0.95      0.95      1739

In [74]:
#Test 
mail_test = ['Bonjour HAMDANE Youness, Vous avez demandé à recevoir la newsletter de WebEngineering.,Celle-ci fait un point exhaustif sur les dernières offres à pourvoir, qui sont en adéquation avec vos compétences.']
DTM       = vect.transform(mail_test)
model.predict(DTM)

array([1], dtype=int64)